<h1>Edit products</h1>
<form action="/products/edit" method="POST">
<input type="hidden" name="id" value="{{product._id}}">
    <div class="form-control">
        <label for="name">Products name</label>
        <input type="text" name="name" placeholder="Enter the product name" value="{{product.name}}">
    </div>
     <div class="form-control">
        <label for="image">image of the product</label>
        <input type="text" name="image" placeholder="Enter image of the product" value="{{product.image}}">
    </div>
    <div class="form-control">
        <label for="price">Price of the product</label>
        <input type="text" name="price" placeholder="Enter price of the product" value="{{product.price}}">
    </div>
    <div class="form-control">
        <label for="description">Description</label>
        <textarea name="description" placeholder="Product description">{{product.description}}</textarea>
    </div>
    <input type="submit" value="Save" class="btn">
</form>